img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.top-row {
    align-items: center;
    padding-left: 10px;
}

.file-input-box {
    transform: translate(0, 50%);
}

.file-content {
    display: flex;
    padding: 10%;
}